# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/
.envrc

# Distribution / packaging
build/
dist/
*.egg-info/

# pytest cache
.pytest_cache/

# VS Code settings
.vscode/

# Logs
*.log

# Black formatting cache
.cache/

# OS files
.DS_Store
Thumbs.db
~/.venv